.catalog__title {
  font-size: $title-font;
  border-bottom: $gray-border;
}

.catalog__list {
  list-style: none;
  padding-left: 0;
}

.catalog__item {
  border-bottom: $gray-border;

  @include section-paddings;
  padding-bottom: 25px;
}

.catalog__item--additional {
  padding-left: 0;
  padding-right: 0;
}
