.catalog-list {
  @include viewport-width;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  border: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    // @include standard-paddings;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-shrink: 0;
    align-self: center;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog-list--additional {
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    // align-items: stretch;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    border: none;
  }
}

.catalog-list__item {
  @media (min-width: $tablet-width) {
    margin-top: 140px;
    margin-bottom: 0;

    @include standard-margins;
  }

  @media (min-width: $desktop-width) {
    margin-top: 142px;
  }
}

// @media (min-width: $tablet-width) and (max-width: 1299px) {
//   &:nth-child(odd) {
//     margin-left: 0;
//   }

//   &:nth-child(even) {
//     margin-right: 0;
//   }

//   &:last-child {
//     margin-right: auto;
//   }
// }


//   &:nth-child(4n) {
//     margin-right: 0;
//   }
// }

.catalog-list__item--additional {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
