.catalog {
  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.catalog__title {
  font-size: $title-font;
  border-bottom: $gray-border;

  @media (min-width: $tablet-width) {
    border: none;

    @include viewport-width;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;

  outline: 1px solid skyblue;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-shrink: 0;
    align-self: center;

    @include viewport-width;
  }
}

.catalog__item {
  border-bottom: $gray-border;

  @include section-paddings;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 60px;

    @include standard-margins;
  }
}

.catalog__item--additional {
  padding-left: 0;
  padding-right: 0;
}
