.catalog-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  border: 1px solid #ededed;

  @include viewport-width;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-shrink: 0;
    align-self: center;

    @include standard-paddings;
    border: none;
  }
}

// .catalog-list--additional {
//   width: auto;

//   @media (min-width: $tablet-width) {
//     align-content: stretch;
//     flex-direction: column;
//     border: 1px solid #e6e6e6;
//   }

//   @media (min-width: $desktop-width) {
//     border: none;
//     width: 895px;
//   }
// }

.catalog-list__item {
  @media (min-width: $tablet-width) {
    margin-top: 140px;
    margin-bottom: 0;

    @include standard-margins;
  }

  @media (min-width: $tablet-width) and (max-width: 1299px) {
    &:nth-child(odd) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: auto;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(4n-3) {
      margin-left: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
