.changes {
  width: 100%;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  @media (min-width: $desktop-width) {
    width: 690px;
  }
}

.changes__wrapper {
  @include viewport-width;
  // width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  // outline: 1px solid lawngreen;

  @media (min-width: $tablet-width) {
    margin-top: 235px;
    min-height: 462px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    margin-left: 0;
    margin-top: -190px;
    // min-height: auto;
    padding: 0;
  }
}

.changes__picture-wrapper {
  @media (min-width: $tablet-width) {
    width: 50%;
    position: relative;
    overflow: hidden;
    margin-top: -170px;
    min-height: 517px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;

    &--before {
      width: 53%;
    }

    &--after {
      width: 47%;
    }
  }
}

.changes__photo {
  margin-bottom: 30px;
  width: 320px;
  // transform: translateX(-20px);

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 690px;
    height: auto;
    // margin-top: -168px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    // transform: translateX(7px);

    &--before {
      left: 15px;
    }

    &--after {
      right: 0;
      // transform: translateX(7px);
    }
  }

  @media (min-width: $desktop-width) {
    height: 517px;
    width: auto;
    // margin-top: -260px;
    margin-bottom: 35px;
    transform: none;

    &--before {
      left: 0;
    }
  }
}

.changes__photo--after {
  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

.changes__toggle {
  @include standard-paddings;
  // height: 20px;
  margin-bottom: 35px;
  // outline: 1px solid orchid;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 37px;
    margin-top: 35px;
  }
}
