.copyright__link {
  display: flex;
  flex-direction: row;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 163px;
    padding-right: 0;
  }

  // @include viewport-width;
}

.copyright__link span {
  margin-top: 10px;
}

.copyright__icon {
  color: $footer-icon-color;
  // width: 41px;
  // height: 41px;
  // margin-right: -7px;
}

.copyright__link:hover .copyright__icon,
.copyright__link:focus .copyright__icon {
  color: $footer-hover-color;
}

.copyright__link:active .copyright__icon {
  color: $footer-active-color;
}

.copyright__link:hover,
.copyright__link:focus {
  color: $footer-hover-color;
}

.copyright__link:active {
  color: $footer-active-color;
}
