.example {
  background-color: $gray;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid #e6e6e6;
    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
    border: none;
  }
}

.example__title {
  @include viewport-width;
  @include standard-paddings;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 23px;

  @include title;
  margin-top: 0;
  // outline: 1px solid aquamarine;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 52px;
  }
}

.example__wrapper {
  @include viewport-width;
  // @include standard-paddings;
  margin: 0 auto;
  // //   padding-top: 25px;
  // padding-bottom: 25px;
  // // outline: 1px solid aquamarine;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
    // padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    // @include standard-paddings;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;
    // padding-top: 70px;
    // padding-bottom: 52px;
    // background: linear-gradient(to right, light-gray 50%, light-gray 50%,light-gray 50%+350px, aliceblue 50%+350px, aliceblue 100%); ;
  }
}

.example__text {
  @include viewport-width;
  @include standard-paddings;
  margin: 0 auto;

  // @media (min-width: $tablet-width) {
  // }

  @media (min-width: $desktop-width) {
    // @include standard-paddings;
    width: 610px;
    flex-grow: 1;
    padding-top: 70px;
    margin-right: 0;
    margin-left: 0;
    background: #f2f2f2;
  }
}

.example__description {
  // margin: 0 auto;
  // padding-right: 5px;
  margin-top: 0;
  margin-bottom: 25px;

  @include paragraph;

  @media (min-width: $tablet-width) {
    // @include viewport-width;
    // padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 465px;
    margin-left: auto;
    margin-right: 65px;
    margin-bottom: 68px;
    padding-top: 0;

    // @include standard-paddings;
  }
}

.example__table {
  margin: 0 auto;
  width: auto;
  // padding-bottom: 50px;
  margin-bottom: 10px;
  text-align: center;

  // @media (min-width: $tablet-width) {
  //   width: 100%;
  //   // @include viewport-width;
  //   // @include standard-paddings;
  // }

  @media (min-width: $desktop-width) {

    margin-left: auto;
    margin-right: 162px;
    margin-bottom: 0;
    // padding-bottom: 150px;
  }
}

.example__photo {
  // @include viewport-width;
  margin: 0 auto;
  // margin-left: -20px;
  // margin-right: -20px;

  // @media (min-width: $tablet-width) {
  //   // @include viewport-width;
  //   // @include standard-paddings;
  // }

  @media (min-width: $desktop-width) {
    width: 690px;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    background: linear-gradient(to right, #f2f2f2 367px, #eaeaea 367px);
    // flex-basis: 100%;
  }
}
