.main-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
  color: #111111;

  // outline: 1px solid darkblue;
  min-height: 200px;

  @media (min-width: $tablet-width) {
    @include standard-paddings;
    flex-direction: row;
    min-height: 76px;
    width: 500px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 50%;
    width: 595px;
  }

  &--dark-background {
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }
}

.main-menu__item {
  // padding-top: 21px;
  // padding-bottom: 21px;
  border-top: 1px solid #dadada;
  text-align: center;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-left: 35px;
  }
}

.main-menu__link {
  display: block;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  min-height: 65px;
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  @media (min-width: $tablet-width) {
    font-family: "Oswald Regular", "Arial", sans-serif;
    font-size: 18px;
    line-height: 25px;
    min-height: 20px;
    padding-bottom: 7px;
    // border-bottom: 2px solid #68b738;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    padding-bottom: 9px;
    // border-bottom: 2px solid #ffffff;
  }

  &:hover {
    @media (min-width: $tablet-width) {
      opacity: 0.6;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      opacity: 0.3;
    }
  }

  &--current {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid #68b738;
    }
  }
}

.main-menu--dark-background .main-menu__link--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}
