.main-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
  color: #111111;

  outline: 1px solid darkblue;
  min-height: 200px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 80px;
    width: 440px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    max-width: 50%;
  }

  &--dark-background {
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }
}

.main-menu__item {
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
  border-top: 1px solid #dadada;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-menu__link {
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
