.page-footer {
  min-width: 320px;
  background-color: $gray;
}

// .page-footer__links {
// }

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;


  @media (min-width: $tablet-width) {
    @include viewport-width;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    padding-top: 55px;
    padding-bottom: 55px;
    // align-self: center;
  }
}

.page-footer__section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 20px;

  &--logo {
    text-align: center;
    padding-top: 38px;
    padding-bottom: 30px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
      outline: none;
    }
  }

  &--copyright {
    padding-top: 22px;
  }

  @media (min-width: $tablet-width) {
    @include standard-paddings;
    justify-content: center;
    width: 224px;
    padding-top: 0;
    padding-bottom: 0;
    // outline: 1px solid darkcyan;
    text-align: center;

    &--logo {
      text-align: left;
    }

    &--copyright {
      // padding-left: 6px;
      // padding-right: 0;
      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.page-footer__section:not(:last-child) {
  border-bottom: $gray-border;
  // text-align: center;

  @media (min-width: $tablet-width) {
    border: none;
  }
}


.page-footer__logo {
  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }
}
