.page-title {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 40px;
  // min-height: 105px;

  @include viewport-width;
  @include standard-paddings;

  font-size: $title-font;
  line-height: $title-font;

  // border-bottom: $gray-border;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 60px;
    line-height: 60px;
    // padding-left: 0;
    // padding-right: 0;
    margin-top: 44px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 62px;
  }
}
