.page-header__wrapper {

  margin: 0 auto;

  @include viewport-width;
}

.page-header__logo {
  min-height: 65px;

  // @media (min-width: $desktop-width) {
  //   margin-top: 3px;
  // }
}

.page-header__logo-icon {
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    width: 173px;
    height: 58px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
