.page-footer {
  background-color: $gray;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include standard-paddings;
  @include viewport-width;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    // align-self: center;
  }
}

.page-footer__section:not(:last-child) {
  border-bottom: $gray-border;
  text-align: center;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
