.page-header--welcome {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -$desktop-width / 2;
  }
}

.page-header__wrapper {

  margin: 0 auto;

  @include viewport-width;
}
