.program-item {
  position: relative;
  background-color: $gray;
  color: #111111;

  @include standard-paddings;
  padding-top: 20px;
  padding-bottom: 20px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 55px;
    padding-right: 275px;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  &--weight-gain {
    @media (min-width: $tablet-width) {
      padding-right: 310px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 52px;
    padding-right: 52px;
    align-items: stretch;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #68b738;
    top: 25px;
    left: 22px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      right: 62px;
      left: auto;
      top: 92px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 67px;
    height: 50px;

    background-repeat: no-repeat;
  }

  &--weight-loss::after {
    top: 21px;
    left: 29px;
    background-image: url("../img/icon-cat-slim.svg");

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      left: auto;
      right: 92px;
      top: 80px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      top: 41px;
      left: 66px;
    }
  }

  &--weight-gain::after {
    top: 35px;
    left: 13px;
    background-image: url("../img/icon-cat-pro.svg");

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      left: auto;
      right: 28px;
      top: 135px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      top: 69px;
      left: 34px;
    }
  }
}

.program-item__title {
  margin-left: 71px;
  margin-top: 14px;
  margin-bottom: 34px;
  text-transform: uppercase;
  text-align: left;
  font-size: 24px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 37px;
    margin-top: 20px;
    margin-bottom: 24px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    padding-left: 163px;
  }
}

.program-item__description {
  margin-bottom: 22px;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.program-item__link {
  position: relative;
  display: block;
  padding-top: 19px;
  padding-right: 145px;
  border-top: 1px solid #d9d9d9;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    border: none;
    margin-top: 40px;
    margin-bottom: 5px;
    padding-top: 0;
    padding-right: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 12px;
    align-self: flex-start;
  }

  &::after {
    position: absolute;
    content: "";
    width: 33px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: left center;
    right: 110px;
    top: 22px;

    @media (min-width: $tablet-width) {
      top: 4px;
      right: 0;
    }
  }

  &:hover::after {
    background-image: url("../../img/icon-right-arrow-verylong.svg");
  }
}
