.program-selection {
  @include section-paddings;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  outline: 1px solid saddlebrown;
}

.program-selection__item {
  margin-bottom: 20px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 370px;
    margin-bottom: 0;
  }
}
