.program-selection {
  margin: 0 auto;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.program-selection__wrapper {
  display: flex;
  flex-direction: column;

  @include standard-paddings;
  @include viewport-width;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.program-selection__item {
  margin-bottom: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 370px;
    margin-bottom: 0;
  }
}

.program-selection__item:last-child {
  margin-bottom: 0;
}
