.quick-start {
  // align-items: center;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    // padding-left: $padding-tablet + 90px;
    // padding-right: $padding-tablet + 90px;
  }

  // @media (min-width: $desktop-width) {
  //   margin-bottom: 80px;
  //   max-height: 696px;
  //   background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, transparent 50%, #68b738 50%);
  //   background-position-x: right, left;
  //   background-position-y: top, top;
  //   background-repeat: no-repeat;
  //   background-size: 50%, 100%;
  // }
}

.quick-start__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 480px;
  margin: 0 auto;

  @include standard-paddings;
  @include viewport-width;

  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg"), linear-gradient(to top, transparent 175px, #5eaa2f 175px);
  background-repeat: no-repeat;
  background-size: 280px auto, contain, auto;
  background-position-y: 167px, top, center;
  background-position-x: center, center;

  color: #ffffff;
  text-align: center;

  @media (max-width: $tablet-width - 1px) {
    position: relative;

    &::before {
      content: "";
      width: 320px;
      height: 305px;
      position: absolute;
      top: 0;
      left: 0;
      background: #5eaa2f;
      z-index: -1;
    }
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;

    min-height: 855px;
    padding-left: $padding-tablet + 90px;
    padding-right: $padding-tablet + 90px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-size: 709px;
    background-position: bottom;
    color: #111111;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    min-height: 581px;
    margin-bottom: 80px;
    padding-top: 62px;
    padding-left: 120px;
    padding-right: 80px;
    background: none;
    // background-image: url("../img/index-can-desktop@1x.png");
    // background-size: 552px auto;
    // background-position-x: 490px;
    // background-position-y: 26px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background: none;
    }
  }
}

.quick-start__title {
  margin-top: 26px;
  margin-bottom: 26px;
  font-size: $title-font;
  line-height: $title-font;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 43px;
    margin-bottom: 38px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.quick-start__lead {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  min-height: 180px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    min-height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    // line-height: normal;
  }
}

.quick-start__button {
  margin-top: 135px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-top: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
    min-width: 245px;
  }
}
