.site-navigation {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 82px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.site-navigation__short {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include standard-paddings;

  @media (max-width: $tablet-width - 1px) {
    border-bottom: 1px solid #dadada;
  }
}

.site-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  // align-items: center;

  // @include standard-paddings;
}

.site-navigation__toggle {
  height: 18px;
  width: 24px;
  // margin-left: auto;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  span {
    display: none;
  }
}

.site-navigation--nojs .site-navigation__toggle {
  display: none;
}

.site-navigation--closed .site-navigation__list {
  @media (max-width: 767px) {
    display: none;
  }
}

.site-navigation--closed .site-navigation__toggle {
  background-image: url("../img/icon-mobile-menu.svg");
}

.site-navigation__index-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }
}
