.site-navigation {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 82px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.site-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include standard-paddings;
}

.site-navigation__toggle {
  height: 18px;
  width: 24px;
  // margin-left: auto;
  background-color: transparent;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  span {
    display: none;
  }
}
