.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  min-width: 130px;
}

.social__item {
  width: 22px;
}

.social__link {
  display: block;
}

.social__icon {
  fill: $footer-icon;
}

.social__link--vk {
  width: 22px;
}

.social__link--instagram {
  width: 16px;
}

.social__link--facebook {
  width: 10px;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $footer-hover-color;
}

.social__link:active .social__icon {
  fill: $footer-active-color;
}
