.typical-button {
  display: block;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #68b738;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;

  &--long-text {
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 18px;
      padding-top: 11px;
      padding-bottom: 11px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    // padding-right: 28px;
  }
}

.typical-button:hover,
.typical-button:focus {
  background-color: #5eaa2f;
}

.typical-button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
