@mixin paragraph {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

@mixin standard-paddings {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@mixin standard-margins {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: $margin-tablet;
    margin-right: $margin-tablet;
  }

  @media (min-width: $desktop-width) {
    margin-left: $margin-desktop;
    margin-right: $margin-desktop;
  }
}

@mixin viewport-width {
  box-sizing: border-box;
  // outline: 1px solid aquamarine;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

@mixin title-font {
  font-size: $title-font;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
  }
}
