@import "normalize.scss",
  "variables.scss",
  "mixins.scss",
  "fonts.scss",
  "blocks/page-body.scss",
  // "blocks/index-body.scss",
  // "blocks/center-container.scss",
  "blocks/page-header.scss",
  "blocks/main-menu.scss",
  "blocks/quick-start.scss",
  "blocks/index-main.scss",
  "blocks/typical-button.scss",
  "blocks/program-item.scss",
  "blocks/method-description.scss",
  "blocks/program-selection.scss",
  "blocks/visually-hidden.scss",
  "blocks/page-footer.scss",
  "blocks/social.scss",
  "blocks/copyright.scss",
  "blocks/catalog-list.scss",
  "blocks/item-card.scss",
  "blocks/additional-goods.scss",
  // "blocks/index.scss",
  "blocks/site-navigation.scss",
  "blocks/page-title.scss",
  "blocks/order-all.scss",
  "blocks/example.scss",
  "blocks/changes.scss",
  "blocks/contacts.scss",
  "blocks/contacts-text.scss",
  "blocks/selection-form.scss",
  "blocks/form-page.scss",
  "blocks/catalog-page.scss",
  "blocks/results-table.scss",
  "blocks/toggle.scss";

body {
  position: relative;
  margin: 0;

  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
