@import "normalize.scss",
  "variables.scss",
  "mixins.scss",
  "fonts.scss",
  "blocks/page-body.scss",
  // "blocks/index-body.scss",
  // "blocks/center-container.scss",
  "blocks/page-header.scss",
  "blocks/main-menu.scss",
  "blocks/quick-start.scss",
  "blocks/page-main.scss",
  "blocks/typical-button.scss",
  "blocks/program-item.scss",
  "blocks/method-description.scss",
  "blocks/program-selection.scss",
  "blocks/visually-hidden.scss",
  "blocks/page-footer.scss",
  "blocks/social.scss",
  "blocks/copyright.scss",
  "blocks/catalog-list.scss",
  "blocks/item-card.scss",
  "blocks/additional-goods.scss",
  // "blocks/index.scss",
  "blocks/site-navigation.scss",
  "blocks/page-title.scss",
  "blocks/order-all.scss";

body {
  position: relative;
  margin: 0;

  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
}
