@import "variables.scss",
  "blocks/center-container.scss",
  "blocks/main-menu.scss",
  "blocks/page-main.scss",
  "blocks/typical-button.scss",
  "blocks/program-item.scss",
  "blocks/method-description.scss",
  "blocks/program-selection.scss",
  "blocks/visually-hidden.scss",
  "blocks/page-footer.scss",
  "blocks/social.scss",
  "blocks/copyright.scss",
  "blocks/catalog.scss",
  "blocks/item-card.scss",
  "blocks/show-all.scss",
  "blocks/index.scss";

@font-face {
  font-family: "Oswald Regular";
  src: local("Oswald Regular"),
    local("oswaldregular"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald Regular";
  src: local("Oswald Regular"),
    local("oswaldregular"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Oswald Medium";
  src: local("Oswald Medium"),
    local("oswaldmedium"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
}
