$title-font: 36px;

$subtitle-font:  24px;

$item-title-font: 16px;

$standard-padding: 20px;

$gray: #f2f2f2;

$gray-border: 1px solid #d9d9d9;

@mixin paragraph {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

@mixin section-paddings {
  padding-left: 20px;
  padding-right: 20px;
}

$footer-icon:#666666;

$footer-hover-color: rgba(104, 183, 56, 1);

$footer-active-color: rgba(104, 183, 56, 0.3);
